.get_started {
  border: none;
  border-radius: 5px;
  color: white;
  background: rgb(121, 82, 179);
  height: 30px;
  width: 90px;
  font-weight: bold;
}
.download {
  border: 1px solid rgb(108, 117, 125);
  border-radius: 5px;
  background: white;
  color: rgb(108, 117, 125);
  height: 30px;
  width: 90px;
  font-weight: bold;
}
