button {
  color: white;
  background-color: rgb(46, 169, 79);
  border: none;
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 5px;
}
button:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
}