.apply_btn {
  color: white;
  background: rgb(10, 102, 194);
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  font-weight: bold;
}
.save_btn {
  color: rgb(10, 102, 194);
  background: white;
  padding: 7px 15px;
  border: 1px solid rgb(10, 102, 194);
  border-radius: 15px;
  font-weight: bold;
}
.apply_btn:hover {
  background-color: rgb(9, 77, 146)
}